In [1]:
import numpy as np
import pandas as pd

In [4]:
user_data = pd.read_csv('accounts_user.csv')
answerlogs = pd.read_csv('logs_answerlog.csv')
evallogs = pd.read_csv('logs_evallog.csv')
reclogs = pd.read_csv('logs_recommendlog.csv')
answers = pd.read_csv('services_answers.csv')

In [5]:
user_data = user_data[['username', 'career_type', 'recommend_cnt', 'favorite_company_id', 'interesting_job_large_id']]

In [6]:
user_data = user_data.iloc[1:]

In [7]:
user_data

,username,career_type,recommend_cnt,favorite_company_id,interesting_job_large_id
1,dbstjd0924,신입,0,NaN,5000002
2,jmju12,신입,0,NaN,5000002
3,suhpysiss,신입,0,NaN,5000002
4,hwanseung2,신입,0,NaN,5000002
5,kyuwonkim,신입,0,NaN,5000008
...,...,...,...,...,...
76,romeojuliet,신입,0,NaN,5000006
77,baoro1014,경력,0,NaN,5000002
78,user2330,신입,0,NaN,5000002
79,test12345,신입,0,NaN,5000002
80,aaa123,신입,0,NaN,5000002

In [8]:
answerlogs = answerlogs[answerlogs['user_id']!=1]

In [9]:
answerlogs

     answer_log_id                   timestamp answer_id  rectype_id  user_id
0              558  2023-01-26 11:14:25.754993   a013710     7000001       10
1              559  2023-01-26 11:21:06.933195   a013859     7000002       11
2              560  2023-01-26 11:21:11.415092   a011278     7000001       11
3              561  2023-01-26 11:21:17.113055   a006377     7000001       11
4              562  2023-01-26 11:21:34.489121   a009534     7000005       11
..             ...                         ...       ...         ...      ...
629           1187  2023-01-28 15:44:33.269030   a009534     7000005      100
630           1188  2023-01-29 01:17:33.522242   a002738     7000002       40
631           1189  2023-01-29 01:17:47.468645   a014099     7000002       40
632           1190  2023-01-29 01:18:07.582593   a000086     7000004       40
633           1191  2023-01-29 01:19:45.728637   a013634     7000005       40

[615 rows x 5 columns]

In [10]:
evallogs = evallogs[evallogs['user_id']!=1]

In [11]:
evallogs

    eval_log_id                   timestamp  favor answer_id  user_id
0            54  2023-01-26 11:14:57.136051      1   a013710       10
1            55  2023-01-26 11:31:07.709856      1   a011466       14
2            56  2023-01-26 11:31:13.146974      1   a009328       14
3            57  2023-01-26 11:31:45.829001      1   a014508       14
4            58  2023-01-26 11:31:52.491718      1   a006020       14
..          ...                         ...    ...       ...      ...
59          113  2023-01-27 09:51:55.127500      1   a008993       82
60          114  2023-01-27 11:20:29.679939      1   a009685       50
61          115  2023-01-27 12:39:29.265687      1   a009931       40
62          116  2023-01-28 14:07:35.718426      1   a000831      100
63          117  2023-01-29 01:19:50.251224      1   a013634       40

[63 rows x 5 columns]

In [12]:
reclogs = reclogs[reclogs['user_id']!=1]

In [13]:
reclogs

,rec_log_id,timestamp,question_from_user,company_id,job_small_id,question_type_id,user_id,impressions
0,314,2023-01-26 11:14:19.810818,NaN,2000457,6000004,1000007,10,NaN
1,315,2023-01-26 11:14:22.979182,NaN,2000457,6000004,1000007,10,NaN
2,316,2023-01-26 11:14:23.586963,NaN,2000457,6000004,1000007,10,NaN
3,317,2023-01-26 11:20:52.178002,NaN,2000165,6000031,1000008,13,NaN
4,318,2023-01-26 11:21:04.092458,NaN,2000165,6000031,1000001,11,NaN
...,...,...,...,...,...,...,...,...
467,786,2023-01-29 01:19:31.518723,NaN,2000087,6000012,1000007,40,"['a004970', 'a013552', 'a004971', 'a009711', '..."
468,787,2023-01-29 01:19:33.187650,NaN,2000087,6000012,1000007,40,"['a013552', 'a004970', 'a015491', 'a004971', '..."
469,788,2023-01-29 03:48:45.318878,NaN,2000189,6000031,1000006,17,"['a009366', 'a006840', 'a009580', 'a016186', '..."
470,789,2023-01-29 03:49:16.945784,NaN,2000189,6000031,1000007,17,"['a003730', 'a009366', 'a007418', 'a003729', '..."
471,790,2023-01-29 03:49:17.619766,NaN,2000189,6000031,1000007,17,"['a003730', 'a009366', 'a007418', 'a003729', '..."

In [14]:
total_logs =  pd.concat([answerlogs, reclogs], axis=0, join='outer')

In [15]:
total_logs = total_logs.sort_values(by=['timestamp'])

In [16]:
total_logs = total_logs.groupby('user_id')[['timestamp', 'answer_id', 'rectype_id', 'company_id', 'job_small_id', 'question_type_id', 'impressions']]

In [17]:
for name, group in total_logs:
    print(f'name: {name}')
    print(f'group: {group}')
    print()

name: 6
group:                       timestamp answer_id  rectype_id  company_id  \
32   2023-01-26 11:41:46.347641       NaN         NaN   2000174.0
54   2023-01-26 11:44:29.652860       NaN         NaN   2000397.0
33   2023-01-26 11:44:34.323181   a014967   7000001.0         NaN
34   2023-01-26 11:44:36.951241   a014967   7000002.0         NaN
69   2023-01-26 12:00:44.478015       NaN         NaN   2000098.0
49   2023-01-26 12:00:46.965202   a013697   7000001.0         NaN
50   2023-01-26 12:00:53.879024   a004769   7000001.0         NaN
51   2023-01-26 12:00:56.908154   a004769   7000001.0         NaN
52   2023-01-26 12:00:59.534485   a006759   7000001.0         NaN
74   2023-01-26 12:21:17.440578       NaN         NaN   2000165.0
64   2023-01-26 12:21:40.993666   a012868   7000002.0         NaN
65   2023-01-26 12:21:51.750491   a012618   7000001.0         NaN
67   2023-01-26 12:22:17.825450   a012618   7000001.0         NaN
68   2023-01-26 12:25:31.773993   a013573   7000001.0         NaN
77   2023-01-26 12:36:29.658475       NaN         NaN   2000008.0
78   2023-01-26 12:36:32.467155       NaN         NaN   2000008.0
72   2023-01-26 12:36:35.920906   a016704   7000001.0         NaN
79   2023-01-26 12:50:29.729552       NaN         NaN   2000189.0
80   2023-01-26 12:50:51.897868       NaN         NaN   2000189.0
73   2023-01-26 12:50:56.129313   a001172   7000002.0         NaN
74   2023-01-26 12:51:02.204664   a004946   7000001.0         NaN
75   2023-01-26 12:51:04.512363   a007427   7000001.0         NaN
76   2023-01-26 12:51:28.765833   a004946   7000001.0         NaN
77   2023-01-26 12:51:31.525684   a004159   7000001.0         NaN
78   2023-01-26 12:51:48.227003   a001172   7000002.0         NaN
79   2023-01-26 12:51:59.203287   a001171   7000002.0         NaN
95   2023-01-26 13:17:58.649836       NaN         NaN   2000165.0
127  2023-01-26 13:18:00.421942   a013571   7000001.0         NaN
128  2023-01-26 13:18:01.744527   a012627   7000001.0         NaN
129  2023-01-26 13:18:02.707952   a015461   7000001.0         NaN
130  2023-01-26 13:18:04.387495   a013571   7000002.0         NaN
133  2023-01-26 13:18:43.524282   a009686   7000002.0         NaN
134  2023-01-26 13:18:44.585245   a009684   7000002.0         NaN
135  2023-01-26 13:18:47.166222   a012869   7000002.0         NaN
97   2023-01-26 13:19:15.435934       NaN         NaN   2000165.0
136  2023-01-26 13:19:16.837831   a012868   7000001.0         NaN
100  2023-01-26 13:19:52.260381       NaN         NaN   2000165.0
138  2023-01-26 13:19:54.047042   a008880   7000001.0         NaN
139  2023-01-26 13:19:56.592034   a002606   7000001.0         NaN
140  2023-01-26 13:19:59.158315   a012868   7000001.0         NaN
141  2023-01-26 13:20:01.081557   a013573   7000001.0         NaN
142  2023-01-26 13:20:02.943342   a008880   7000002.0         NaN
143  2023-01-26 13:20:04.506337   a002606   7000002.0         NaN
144  2023-01-26 13:20:06.147733   a012868   7000002.0         NaN
145  2023-01-26 13:20:07.551566   a007427   7000002.0         NaN
101  2023-01-26 13:20:31.941477       NaN         NaN   2000165.0
146  2023-01-26 13:20:33.583828   a013859   7000001.0         NaN

     job_small_id  question_type_id impressions
32      6000027.0         1000011.0         NaN
54      6000062.0         1000006.0         NaN
33            NaN               NaN         NaN
34            NaN               NaN         NaN
69      6000019.0         1000006.0         NaN
49            NaN               NaN         NaN
50            NaN               NaN         NaN
51            NaN               NaN         NaN
52            NaN               NaN         NaN
74      6000027.0         1000008.0         NaN
64            NaN               NaN         NaN
65            NaN               NaN         NaN
67            NaN               NaN         NaN
68            NaN               NaN         NaN
77      6000027.0         1000006.0         NaN
78      6000027.0         1000006.0         NaN
72            NaN               NaN         NaN
79      6000027.0         1000006.0         NaN
80      6000027.0         1000008.0         NaN
73            NaN               NaN         NaN
74            NaN               NaN         NaN
75            NaN               NaN         NaN
76            NaN               NaN         NaN
77            NaN               NaN         NaN
78            NaN               NaN         NaN
79            NaN               NaN         NaN
95      6000027.0         1000006.0         NaN
127           NaN               NaN         NaN
128           NaN               NaN         NaN
129           NaN               NaN         NaN
130           NaN               NaN         NaN
133           NaN               NaN         NaN
134           NaN               NaN         NaN
135           NaN               NaN         NaN
97      6000031.0         1000008.0         NaN
136           NaN               NaN         NaN
100     6000031.0         1000008.0         NaN
138           NaN               NaN         NaN
139           NaN               NaN         NaN
140           NaN               NaN         NaN
141           NaN               NaN         NaN
142           NaN               NaN         NaN
143           NaN               NaN         NaN
144           NaN               NaN         NaN
145           NaN               NaN         NaN
101     6000031.0         1000008.0         NaN
146           NaN               NaN         NaN

name: 7
group:                       timestamp answer_id  rectype_id  company_id  \
75   2023-01-26 12:21:59.663062       NaN         NaN   2000248.0
66   2023-01-26 12:22:03.753722   a001284   7000001.0         NaN
207  2023-01-26 16:05:25.393110       NaN         NaN   2000695.0
324  2023-01-26 16:05:30.225824   a000282   7000001.0         NaN
326  2023-01-26 16:06:25.777225   a007590   7000003.0         NaN
327  2023-01-26 16:06:42.798154   a000281   7000003.0         NaN
328  2023-01-26 16:07:04.329856   a003512   7000005.0         NaN
329  2023-01-26 16:07:21.296346   a003583   7000006.0         NaN
330  2023-01-26 16:08:38.092952   a007795   7000004.0         NaN
331  2023-01-26 16:09:02.933564   a016187   7000003.0         NaN
210  2023-01-26 16:09:22.764652       NaN         NaN   2000695.0
332  2023-01-26 16:09:27.571777   a004223   7000001.0         NaN
342  2023-01-26 16:18:33.238058   a011665   7000006.0         NaN
343  2023-01-26 16:33:51.969032   a016290   7000002.0         NaN
217  2023-01-26 16:37:27.267422       NaN         NaN   2000695.0
344  2023-01-26 16:37:33.259830   a015011   7000002.0         NaN
218  2023-01-26 16:40:54.781046       NaN         NaN   2000695.0
219  2023-01-26 16:41:24.156467       NaN         NaN   2000695.0
345  2023-01-26 16:54:20.902681   a016290   7000002.0         NaN
220  2023-01-26 16:54:48.253253       NaN         NaN   2000695.0
346  2023-01-26 16:54:51.057508   a016290   7000002.0         NaN
221  2023-01-26 16:54:58.115188       NaN         NaN   2000695.0
347  2023-01-26 16:54:59.718578   a016290   7000002.0         NaN
234  2023-01-27 01:18:10.553365       NaN         NaN   2000510.0
235  2023-01-27 01:18:58.973432       NaN         NaN   2000510.0
236  2023-01-27 01:19:06.685266       NaN         NaN   2000510.0
237  2023-01-27 01:19:13.354518       NaN         NaN   2000510.0
375  2023-01-27 01:19:34.644124   a006555   7000002.0         NaN
376  2023-01-27 01:19:37.583511   a007457   7000002.0         NaN
377  2023-01-27 01:19:40.861984   a003530   7000002.0         NaN
378  2023-01-27 01:20:23.207806   a009930   7000005.0         NaN
238  2023-01-27 01:21:58.802691       NaN         NaN   2000510.0
239  2023-01-27 01:22:01.341015       NaN         NaN   2000510.0
243  2023-01-27 01:27:49.018502       NaN         NaN   2000175.0
244  2023-01-27 01:29:06.815712       NaN         NaN   2000175.0
379  2023-01-27 01:30:02.374769   a009533   7000004.0         NaN
380  2023-01-27 01:30:07.774466   a009533   7000004.0         NaN
245  2023-01-27 01:32:58.231009       NaN         NaN   2000175.0
381  2023-01-27 01:33:21.350989   a002801   7000004.0         NaN
382  2023-01-27 01:33:28.949794   a005493   7000006.0         NaN
383  2023-01-27 01:33:32.779846   a009929   7000005.0         NaN
386  2023-01-27 01:41:15.242506   a014223   7000001.0         NaN
250  2023-01-27 02:25:55.997047       NaN         NaN   2000175.0
251  2023-01-27 02:25:57.090939       NaN         NaN   2000175.0
252  2023-01-27 02:25:57.918859       NaN         NaN   2000175.0
253  2023-01-27 02:25:58.902660       NaN         NaN   2000175.0
464  2023-01-28 17:35:21.504078       NaN         NaN   2000165.0
465  2023-01-28 17:36:06.246434       NaN         NaN   2000165.0

     job_small_id  question_type_id  \
75      6000031.0         1000006.0
66            NaN               NaN
207     6000031.0         1000008.0
324           NaN               NaN
326           NaN               NaN
327           NaN               NaN
328           NaN               NaN
329           NaN               NaN
330           NaN               NaN
331           NaN               NaN
210     6000035.0         1000008.0
332           NaN               NaN
342           NaN               NaN
343           NaN               NaN
217     6000035.0         1000008.0
344           NaN               NaN
218     6000002.0         1000008.0
219     6000002.0         1000007.0
345           NaN               NaN
220     6000002.0         1000006.0
346           NaN               NaN
221     6000002.0         1000020.0
347           NaN               NaN
234     6000019.0         1000013.0
235     6000011.0         1000013.0
236     6000045.0         1000013.0
237     6000051.0         1000013.0
375           NaN               NaN
376           NaN               NaN
377           NaN               NaN
378           NaN               NaN
238     6000004.0         1000013.0
239     6000004.0         1000013.0
243     6000006.0         1000007.0
244     6000019.0         1000007.0
379           NaN               NaN
380           NaN               NaN
245     6000004.0         1000007.0
381           NaN               NaN
382           NaN               NaN
383           NaN               NaN
386           NaN               NaN
250     6000006.0         1000007.0
251     6000006.0         1000007.0
252     6000006.0         1000007.0
253     6000006.0         1000007.0
464     6000031.0         1000006.0
465     6000031.0         1000006.0

                                           impressions
75                                                 NaN
66                                                 NaN
207                                                NaN
324                                                NaN
326                                                NaN
327                                                NaN
328                                                NaN
329                                                NaN
330                                                NaN
331                                                NaN
210                                                NaN
332                                                NaN
342                                                NaN
343                                                NaN
217                                                NaN
344                                                NaN
218                                                NaN
219                                                NaN
345                                                NaN
220                                                NaN
346                                                NaN
221                                                NaN
347                                                NaN
234                                                NaN
235                                                NaN
236                                                NaN
237                                                NaN
375                                                NaN
376                                                NaN
377                                                NaN
378                                                NaN
238                                                NaN
239                                                NaN
243                                                NaN
244                                                NaN
379                                                NaN
380                                                NaN
245                                                NaN
381                                                NaN
382                                                NaN
383                                                NaN
386                                                NaN
250                                                NaN
251                                                NaN
252                                                NaN
253                                                NaN
464  ['a009580', 'a003726', 'a013571', 'a016186', '...
465  ['a004368', 'a006167', 'a003726', 'a009580', '...

name: 8
group:                       timestamp answer_id  rectype_id  company_id  \
89   2023-01-26 13:06:31.827308       NaN         NaN   2000453.0
114  2023-01-26 13:06:33.090317   a014736   7000001.0         NaN
91   2023-01-26 13:07:23.158156       NaN         NaN   2000008.0
116  2023-01-26 13:07:25.121379   a002267   7000001.0         NaN
93   2023-01-26 13:13:50.056457       NaN         NaN   2000453.0
122  2023-01-26 13:13:51.385173   a015487   7000001.0         NaN
94   2023-01-26 13:14:27.491729       NaN         NaN   2000165.0
124  2023-01-26 13:14:32.644807   a013859   7000001.0         NaN
96   2023-01-26 13:19:14.220536       NaN         NaN   2000165.0
98   2023-01-26 13:19:18.439498       NaN         NaN   2000165.0
99   2023-01-26 13:19:22.049536       NaN         NaN   2000165.0
186  2023-01-26 15:50:24.191851       NaN         NaN   2000008.0
307  2023-01-26 15:50:31.335524   a008187   7000001.0         NaN
254  2023-01-27 02:36:34.522339       NaN         NaN   2000128.0
262  2023-01-27 03:54:22.556954       NaN         NaN   2000017.0
263  2023-01-27 03:54:23.665150       NaN         NaN   2000017.0
400  2023-01-27 03:54:28.069503   a005853   7000001.0         NaN
264  2023-01-27 03:55:31.884559       NaN         NaN   2000017.0
401  2023-01-27 03:55:48.267747   a009361   7000001.0         NaN

     job_small_id  question_type_id  \
89      6000006.0         1000005.0
114           NaN               NaN
91      6000002.0         1000006.0
116           NaN               NaN
93      6000012.0         1000002.0
122           NaN               NaN
94      6000031.0         1000008.0
124           NaN               NaN
96      6000031.0         1000008.0
98      6000031.0         1000008.0
99      6000031.0         1000008.0
186     6000027.0         1000014.0
307           NaN               NaN
254     6000009.0         1000004.0
262     6000027.0         1000008.0
263     6000027.0         1000008.0
400           NaN               NaN
264     6000015.0         1000008.0
401           NaN               NaN

                                           impressions
89                                                 NaN
114                                                NaN
91                                                 NaN
116                                                NaN
93                                                 NaN
122                                                NaN
94                                                 NaN
124                                                NaN
96                                                 NaN
98                                                 NaN
99                                                 NaN
186                                                NaN
307                                                NaN
254                                                NaN
262  ['a006796', 'a005853', 'a005427', 'a007428', '...
263  ['a006796', 'a005853', 'a005427', 'a007428', '...
400                                                NaN
264  ['a013872', 'a009361', 'a000241', 'a005853', '...
401                                                NaN

name: 9
group:                       timestamp answer_id  rectype_id  company_id  \
222  2023-01-26 20:20:05.190206       NaN         NaN   2000198.0
348  2023-01-26 20:20:14.006833   a000281   7000001.0         NaN
349  2023-01-26 20:20:59.165735   a006379   7000001.0         NaN
350  2023-01-26 20:21:37.543191   a004462   7000001.0         NaN
351  2023-01-26 20:21:56.005076   a007589   7000001.0         NaN
352  2023-01-26 20:22:27.048160   a009128   7000003.0         NaN
353  2023-01-26 20:23:21.715317   a001370   7000004.0         NaN
354  2023-01-26 20:24:07.609033   a013634   7000005.0         NaN
223  2023-01-26 20:24:57.420112       NaN         NaN   2000198.0
355  2023-01-26 20:25:01.054523   a004462   7000001.0         NaN
224  2023-01-26 20:25:19.489001       NaN         NaN   2000142.0
356  2023-01-26 20:25:22.721078   a000569   7000001.0         NaN
357  2023-01-26 20:26:37.521620   a007458   7000001.0         NaN
225  2023-01-26 20:27:49.166204       NaN         NaN   2000008.0
226  2023-01-26 20:27:59.712439       NaN         NaN   2000008.0
358  2023-01-26 20:28:07.017583   a001519   7000001.0         NaN
359  2023-01-26 20:28:20.663658   a004470   7000001.0         NaN
360  2023-01-26 20:28:26.686285   a002899   7000001.0         NaN
227  2023-01-26 20:28:44.162908       NaN         NaN   2000008.0
361  2023-01-26 20:28:46.722661   a011277   7000001.0         NaN
362  2023-01-26 20:29:21.854422   a009533   7000004.0         NaN
363  2023-01-26 20:29:40.891907   a009929   7000005.0         NaN
228  2023-01-26 20:30:41.762859       NaN         NaN   2000165.0
364  2023-01-26 20:30:46.313521   a013857   7000001.0         NaN
365  2023-01-26 20:30:54.517707   a000977   7000001.0         NaN
366  2023-01-26 20:31:19.320426   a006158   7000003.0         NaN
229  2023-01-26 20:32:28.985957       NaN         NaN   2000165.0
367  2023-01-26 20:32:34.171618   a004368   7000001.0         NaN
368  2023-01-26 20:33:06.708832   a004461   7000001.0         NaN
369  2023-01-26 20:33:17.664926   a004368   7000003.0         NaN
370  2023-01-26 20:33:23.648303   a007418   7000003.0         NaN
230  2023-01-26 20:33:53.017694       NaN         NaN   2000165.0
231  2023-01-26 20:34:08.184805       NaN         NaN   2000165.0
232  2023-01-26 20:34:25.564433       NaN         NaN   2000189.0
371  2023-01-26 20:34:35.001223   a011967   7000002.0         NaN
372  2023-01-26 20:34:37.954584   a002401   7000002.0         NaN
233  2023-01-26 20:35:09.169489       NaN         NaN   2000189.0
373  2023-01-26 20:35:13.322954   a005477   7000002.0         NaN
374  2023-01-26 20:35:54.622867   a000298   7000001.0         NaN

     job_small_id  question_type_id impressions
222     6000031.0         1000005.0         NaN
348           NaN               NaN         NaN
349           NaN               NaN         NaN
350           NaN               NaN         NaN
351           NaN               NaN         NaN
352           NaN               NaN         NaN
353           NaN               NaN         NaN
354           NaN               NaN         NaN
223     6000031.0         1000005.0         NaN
355           NaN               NaN         NaN
224     6000031.0         1000005.0         NaN
356           NaN               NaN         NaN
357           NaN               NaN         NaN
225     6000031.0         1000005.0         NaN
226     6000031.0         1000004.0         NaN
358           NaN               NaN         NaN
359           NaN               NaN         NaN
360           NaN               NaN         NaN
227     6000031.0         1000007.0         NaN

In [18]:
len(reclogs[~reclogs['impressions'].isnull()].user_id.unique())

49

In [19]:
answers

,answer_id,user_good_cnt,user_bad_cnt,pro_good_cnt,pro_bad_cnt,view,user_view,document_id,user_impression_cnt
0,a000000,0,0,0,0,3281,0,d000000,1
1,a000001,0,0,0,0,3281,0,d000000,0
2,a000002,0,0,0,0,3281,0,d000000,0
3,a000003,0,0,0,0,2691,0,d000001,0
4,a000004,0,0,0,0,2691,0,d000001,0
...,...,...,...,...,...,...,...,...,...
16846,a016846,0,0,0,0,4788,0,d004613,0
16847,a016847,0,0,0,0,4788,0,d004613,0
16848,a016848,0,0,0,0,4788,0,d004613,0
16849,a016849,0,0,0,0,4788,0,d004613,0
16850,a016850,0,0,0,0,4788,0,d004613,0